.talents-sidebar {
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.talents-list--header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    position: fixed;
    z-index: 1;
    padding: 15px 12px;
    width: 200px;
    box-sizing: border-box;
}

.talents-list--margin-top {
    margin-top: 61px;
}