.talents-header--container {
    display: grid;
    grid-template-columns: auto 120px;
    column-gap: 0px;
    align-items: center;
    margin-bottom: 24px;
}

.talents-header--left {
    justify-self: start;
}

.talents-header--right {
    justify-self: end;
}