.talent-profile {
    background-color: #fff;
    width: 100%;
}

hr {
    border: none;
    height: 1px;
    color: #E5E5E5;
    background-color: #E5E5E5;
    margin: 0;
}

.talent-profile--section {
    margin: 36px 16px 36px 11px;
}

.talent-profile--section--header {
    border-bottom: 1px #E5E5E5 solid;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.talent-profile--section--1-column {
    display: grid;
    row-gap: 20px;
}

.talent-profile--section--2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 20px;
}

.talent-profile--section--4-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 20px;
}

.talent-profile--section--title {
    font-weight: bold;
}

.talent-profile--label {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 4px;
}

.talent-profile--value-container {
    display: flex;
}

.talent-profile--value {
    white-space: pre-wrap;
    width: 100%;
}

.talent-profile--value-placeholder {
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    line-height: 16px;
}

.talent-profile--value-icon {
    margin-top: 1px;
    margin-right: 8px;
}

.talent-profile--value-icon svg {
    display: block;
}

.talent-profile--system-info {
    margin: 0;
    padding: 16px 24px;
    background-color: rgba(0,0,0,0.05);
}

.talent-profile--current-location-button {
    box-shadow: none;
    border-color: rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 4px 6px;
    height: auto;
}

.invisible-bottom-border {
    border-bottom: 1px solid rgba(0,0,0,0);
}

.select-text-with-icon {
    display: flex;
}