.talents-list-item {
    /* width: 100%; */
    padding: 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
}

.talents-list-item a {
    color: rgba(0, 0, 0, 0.88);
    text-decoration: none;
}

.talents-list-item--item.active {
    background-color: rgb(230, 247, 255);
    color: rgb(24, 144, 255);
}

.talents-list-item--item {
    /* width: 100%; */
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;
}

.talents-list-item--item:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.05);
}

.talents-list-item--item-selected {
    outline: 2px solid #1890ff;
}

.talents-list-item--name {
    padding-left: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.talents-list-item--avatar {
    flex-grow: 0;
    flex-shrink: 0;
}

.talents-list-item--controls {
    margin-left: auto;
    display: flex;
    align-items: center;
}