.talents-table--table {
    container-type: inline-size;
}

.talents-table--row-container {
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr 130px;
    column-gap: 24px;
    align-items: center;

    padding: 8px;
    border-radius: 4px;
}

@container (max-width: 600px) {
    .talents-table--row-container {
        grid-template-columns: 1fr 0.8fr 0.8fr;
    }

    div:nth-child(4) {
        display: none;
    }
}

@container (max-width: 300px) {
    .talents-table--row-container {
        grid-template-columns: 1fr 0.6fr;
    }

    div:nth-child(3) {
        display: none;
    }
}

@container (max-width: 230px) {
    .talents-table--row-container {
        grid-template-columns: 1fr;
    }

    div:nth-child(2) {
        display: none;
    }
}

.talents-table--row:hover {
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.05);
}

.talents-table--row div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.active>div.talents-table--row {
    background-color: rgba(24, 144, 255, 0.1);
}

.talents-table--header {
    border-bottom: 1px solid #E5E5E5;
}