.button {
    display: inline-block;
    min-width: 36px;
    min-height: 36px;
    border-radius: 6px;
    padding: 5px;
    color: rgba(0,0,0,0.4);
    background-color: transparent;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button:hover {
    /* background-color: rgba(0,0,0,0.07); */
    box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.07);
    cursor: pointer;
}

.button--icon {
    font-size: 0;
    border: none;
}

.button--text {
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    color: #000;
    border: 1px solid rgba(0,0,0,0.14);
    font-weight: 500;
}

.active .button {
    color: #1890ff;
}

.button--small {
    min-width: 24px;
    min-height: 24px;
    padding: 0;
}

.button--primary {
    background-color: #1890ff;
    color: #fff;
    border: 1px solid rgba(0,0,0,0);
}