.table-header-cell {
    padding: 4px 6px;
    margin: -4px -6px;
    border-radius: 6px;
    height: 26px;
    display: flex;
    align-items: center;
}

.table-header-cell:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.05);
}

.table-header-cell--icon-flipped {
    transform: rotate(180deg);
}

.table-header-cell svg {
    display: block;
}