.page-events--container {
    display: grid;
    grid-template-columns: 200px auto 340px;
    grid-template-rows: 100vh;
}

.page-events--sidebar-hidden {
    grid-template-columns: 200px auto;
}

.page-events--sidebar {
    background-color: #fff;
    overflow: auto;
}

.page-events--main {
    overflow: auto;
}

.page-events--header {
    background-color: #fff;
    padding: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;

    display: flex;
    gap: 8px;

    box-sizing: border-box;
}

.page-events--margin-top {
    margin-top: 60px;
}