.page-talents--container {
    display: grid;
    grid-template-columns: auto 11px 800px;
    grid-template-rows: 100vh;
}

.page-talents--list,
.page-talents--profile {
    overflow: auto;
    background-color: #fff;
}

.page-talents--profile {
    position: relative;
}

.page-talents--list {
    padding: 16px 11px 16px 16px;
}

.page-talents--resize-handle {
    background-color: #fff;
    padding: 0 5px;
    transition-delay: 0.2s;
    transition-property: padding;
    transition-duration: 0.2s;
}

.page-talents--resize-handle:hover {
    cursor: col-resize;
    padding: 0 4px;
}

.page-talents--resize-handle div {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    transition-delay: 0.2s;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.page-talents--resize-handle:hover div {
    background-color: #1890FF;
}