.event-type--book_out {
    background-color: rgba(0, 0, 0, 0.10);
}

.event-type--casting {
    background-color: #ccdaf5;
}

.event-type--go_see {
    background-color: #dce9d5;
}

.event-type--job {
    background-color: #eecdcd;
}

.event-type--note {
    background-color: rgba(0, 0, 0, 0.05);
}

.event-type--option {
    background-color: #fdf2d0;
}

.event-type--test {
    background-color: #d2e2f1;
}

.event-type--fitting {
    background-color: #d8d3e7;
}