.button-link {
    padding: 0;
    height: auto;
    line-height: inherit;
    border: 0;
}

.text-regular {
    color: #000;
    font-size: 14px;
    line-height: 20px;
}

.text-light {
    color: rgba(0, 0, 0, 0.5);
}

.text-small {
    font-size: 12px;
    line-height: 16px;
}

.text-separator {
    margin: 0 6px;
}

.h1 {
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
}

.h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.hidden {
    display: none;
}