.talent-username--container {
    display: flex;
    align-items: center;
}

.talent-username--avatar {
    flex-grow: 0;
    flex-shrink: 0;
}

.talent-username--name {
    padding-left: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}