.main--container {
    display: grid;
    grid-template-columns: [menu] 60px [col-main] auto [end];
    grid-template-rows: [row-main-layout] 100vh [last-line];
    background-color: #ebedf0;
}

.main--sidebar {
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,0.1);
}